

  <nav class="main-nav" id="main-nav">
    <div style="height:80px;background: rgb(51,74,92);padding-top: 1px;"><h2 class="text-center" style="color:#fff; letter-spacing:2px;">MENU</h2></div>
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
      <li><a href="#about"><i class="fa fa-user fa-fw"></i>&nbsp; About</a></li>
      <li><a href="#what-i-do"><i class="fa fa-signal fa-fw"></i>&nbsp; What I do</a></li>
      <li><a href="#work"><i class="fa fa-briefcase fa-fw"></i>&nbsp; Recent Work</a></li>
      <li><a href="#contact"><i class="fa fa-envelope-o fa-fw"></i>&nbsp; Contact</a></li>
    </ul>
  </nav>

  <div class="page-wrap">

    <div class="jumbotron">
      <div style="margin-top:130px" class="container">
        <a href="#main-nav" class="h5 open-menu"><i style="color:#fff; position: relative; bottom:120px; cursor:pointer;" class="fa fa-bars fa-2x fa-fw"></i></a>
        <a href="#" class="h5 close-menu"><i style="color:#fff; position: relative; bottom:120px; cursor:pointer;" class="fa fa-times fa-2x fa-fw"></i></a>
        <h1>I'm Fotis</h1>
        <div class="spacer"></div>
        <h1>Full Stack Developer</h1>
        <div class="spacer"></div>
        <hr><hr>
        <h2 class="text-center">I Love Technology</h2>
        <a href="mailto:karalisfotis@gmail.com"><h3 class="text-center">Mail Me!</h3></a>
      </div>
    </div>
  </div>





